{% block body %}
<div class="container m-auto">
    <h1 class="text-center">Modifier la recette</h1>

    {{ form_start(form) }}
    <form class="form form-group p-5">
        {{form_widget(form)}}
    <button class="btn btn-primary m-5">{{ button|default('Enregistrer') }}</button>    
    {{ form_end(form) }}
    </form>
</div>    
{% endblock %}