{% extends "base.html.twig" %}

{% block title %}
    Modification 
{% endblock %}

{% block body %}

<div class="my-5">

  {{ include ('admin/recettes/_form.html.twig', {form: form, button: 'Sauvegarder' }) }}
  
</div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/images.js') }}">
    
        
    
    </script>

{% endblock %}