{% extends "base.html.twig" %}

{% block title %}
    Ajout d'une recette 
{% endblock %}

{% block body %}

<h1 class="text-center my-5" style="background: rgba(243,235,224,0.6); border-radius: 5px; width: 50%; padding-top: 1%; margin: 5% auto;">Ajouter une nouvelle recette</h1>

{{ include ('admin/recettes/_form.html.twig', {form: form, button: 'Créer' }) }}


